@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body {
    background-color: hsl(217, 54%, 11%);
    max-width: 1440px;
    margin: auto;
    font-family: "outfit";

}


section {
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
    background-position: center;
    justify-content: center;
    background-color: hsl(216, 50%, 16%);
    margin:auto;
}    

img {
    width: 88%;
    border-radius: 10px;
    margin: 18px; 
    cursor: grab; 
    
}
.clock img{
    
}
.ethereum img{
    
}

.titre{
    color: #fff;
    font-size: 18px;
    width: 85%;
    
    
}

h1 {
    margin: auto;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: grab;
}


p {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    letter-spacing: 1px;
}


.temps {
    display: flex;
    justify-content: space-between;
}

.ethereum {
    width: auto;
    display: flex;
}

.clock{
    display: flex;
    align-items: center;
    width: auto;
}

h2 {
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    margin: auto;
}

h3 {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}


footer {
    display: flex;
    align-items: center;
    color: hsl(215, 32%, 27%);
}

hr {
    color: hsl(215, 32%, 27%);
}

.avatar {
    width: 30px;
    border: 1px solid #FFF;
    border-radius: 50px;
}

.nom{
    color: #FFF;
    cursor: grab;

}

.nom:hover{
    color: hsl(178, 100%, 50%);
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

